<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676403472174-s5hpar671vdht7f8itmif06gv7l30d7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676403472174-s5hpar671vdht7f8itmif06gv7l30d7m</string>
	<key>API_KEY</key>
	<string>AIzaSyBL9emlXcHHqe9k_NsJnhwB3MXNYEguFdg</string>
	<key>GCM_SENDER_ID</key>
	<string>676403472174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadate.nfcentralis</string>
	<key>PROJECT_ID</key>
	<string>nfcentralis</string>
	<key>STORAGE_BUCKET</key>
	<string>nfcentralis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676403472174:ios:f7bf0a7271ed83a3c5bcbf</string>
</dict>
</plist>